# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest
.coverage
.pytest_cache

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db
